
.reveal{
    font-size: 25px !important;
    top: 10% !important;
    height: 88%;
}

.slides{
    top: 0% !important;
    width: 95% !important;
    height: auto !important;
}


.left {
    left:-8.33%;
    text-align: left;
    float: left;
    width:50%;
    z-index:-10;
}

.right {
    left:31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index:-10;
    width:50%;
}
.reveal section img{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

ul > li{
    list-style-type: disc !important;
}   
.no-disc{
    list-style-type: none !important;
}

/*            for overview css fixes*/
/*
.reveal.overview .slides section:hover, .reveal.overview .slides section.present {
height: 500px;
top: 500px !important;
}
.reveal.overview .slides section:hover, .reveal.overview .slides section.future {
height: 500px;
top: 500px !important;
margin-left: 200px;
}
*/
